

<div id="blog" class="content_2">
    <h1 class="h-bloc">Blog - My Blog</h1><br> 

    <div class="col-md-12">
        <div class="row"> </div>
    </div>

  {%- if site.posts.size > 0 -%}
    <ul>
      {%- for post in site.posts -%}
      <li>
            <!-- Post 3 -->
            <article id="post-2" class="blog-article">                    

                <div class="col-md-12">

                    <div class="row">

                        <div class="col-md-12 post_media">

                            <div class="post-format-icon">
                                <a href="{{ post.url | relative_url }} " class="item-date"><span class="fa fa-pencil"></span></a>
                            </div>

                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12 post_content">
                            <div class="content post_format_standart">
                                <div class="top_c ">

                                    <div class="title_content">
                                        <div class="text_content"><a href="{{- post.url | relative_url -}}" style="color: #966FD6;"> {{ post.title }} </a></div>
                                        <div class="clear"></div>
                                    </div>

                                    <ul class="info" style="margin-top: 0%;">
                                        <!-- <li><i class="glyphicon glyphicon-comment"></i> 2 Comments</l> -->
                                        <li><i class="glyphicon glyphicon-time"></i> {{ post.date }} </li>
                                        <li><i class="glyphicon glyphicon-user"></i> by {{ post.author | default: "Mae Vuong" }} </li>
                                        <li><i class="glyphicon glyphicon-tag"></i> php, web design</li>
                                    </ul>

                                    <div class="blog-content">
                                        <p><i class="fa fa-quote-left"></i> {{ post.excerpt }} ...</p></div>
                                </div>
                            </div>	

                            <a href="{{- post.url | relative_url -}}" class="read_m pull-right" style="color:#966FD6;">Read More <i class='glyphicon glyphicon-chevron-right'></i></a>

                        </div>
                    </div>

                </div>
            </article>
        </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>